{% include  'partials/header.html.twig' %}
{% include  'partials/nav.html.twig'  %}



<main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
       {% block content %}{% endblock %}
    </div>
</main>

{% include 'partials/footer.html.twig'  %}